<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WEBSHOP | EXAM</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:400,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <nav id="menu" class="">
    <span>
      <button class="btnMenu" data-targetPage="pageAllUsers">See all users</button>
      <button class="btnMenu" data-targetPage="pageAllProducts">See Products</button>
    </span>
    <span>
      <button class="btnMenu" data-targetPage="pageProfile">My Profile</button>
      <button id="btnLogout">Log out</button>
    </span>
  </nav>
  <main class="container">
    <!-- SIGNUP -->
    <div class="page hide" id="pageSignup">
      <h1>Signup</h1>
      <form id="frmSignup">
        <p>
          <label for="inputSignupName">First Name</label>
          <input type="text" id="inputSignupName" name="userName">
        </p>
        <p>
          <label for="inputSignupLastName">Last Name</label>
          <input type="text" id="inputSignupLastName" name="userLastName">
        </p>
        <p>
          <label for="inputSignupPassword">Password</label>
          <input type="text" id="inputSignupPassword" name="userPassword">
        </p>
        <p>
          <label for="inputSignupEmail">Email</label>
          <input type="text" id="inputSignupEmail" name="userEmail">
        </p>
        <p>
          <label for="inputSignupPhone">Phone number</label>
          <input type="text" id="inputSignupPhone" name="userPhone">
        </p>
        <p>
          <label for="inputSignupImg">Profile Picture</label>
          <input type="file" id="inputSignupImg" name="userImg">
        </p>
        <div id="signupMap">
          Fetching your position...
        </div>
        <button type="button" id="btnSignupSubmit">Submit</button>
      </form>

    </div>
    <!-- LOGIN -->
    <div class="page" id="pageLogin">
      <h1>Login</h1>
      <form id="frmLogin">
        <p>
          <label for="inputLoginEmail">E-mail</label>
          <input type="text" id="inputLoginEmail" name="userEmail">
        </p>
        <p>
          <label for="inputLoginPassword">Password</label>
          <input type="password" id="inputLoginPassword" name="userPassword">
        </p>
        <button type="button" id="btnLoginSubmit">Login</button>
        <button type="button" class="btnMenu" data-targetPage="pageSignup">Create user</button>
      </form>
    </div>
    <!-- SHOW ALL USERS -->
    <div class="page hide" id="pageAllUsers">
      <h1>Users</h1>
      <button class="btnMenu onlyForAdmin" data-targetPage="pageSignup">Add User</button>
      <ul id="userList">
      </ul>
    </div>
    <!-- PROFILE -->
    <div class="page hide" id="pageProfile">
      <h1>My Profile</h1>
      <ul id="userProfile">
      </ul>
    </div>
    <!-- EDIT USER -->
    <div class="page hide" id="pageEditUser">
      <h1>Edit user</h1>
      <form id="frmEditUser">
        <p>
          <label for="inputEditUserName">First Name</label>
          <input type="text" id="inputEditUserName" name="userName">
        </p>
        <p>
          <label for="inputEditUserLastName">Last Name</label>
          <input type="text" id="inputEditUserLastName" name="userLastName">
        </p>
        <p>
          <label for="inputEditUserPassword">Password</label>
          <input type="text" id="inputEditUserPassword" name="userPassword">
        </p>
        <p>
          <label for="inputEditUserEmail">Email</label>
          <input type="text" id="inputEditUserEmail" name="userEmail">
        </p>
        <p>
          <label for="inputEditUserPhone">Phone number</label>
          <input type="text" id="inputEditUserPhone" name="userPhone">
        </p>
        <p>
          <label for="inputEditUserImg">Profile Picture</label>
          <input type="file" id="inputEditUserImg" name="userImg">
        </p>
        <p class="onlyForAdmin">
          <label for="inputEditUserIsAdmin">User is admin:</label>
          <input type="checkbox" id="inputEditUserIsAdmin" name="userIsAdmin">
        </p>
        <div id="map">
          Fetching map...
        </div>
        <button type="button" id="btnEditUserSubmit">Submit</button>
      </form>
    </div>

    <!-- SHOW ALL PRODUCTS -->
    <div class="page hide" id="pageAllProducts">
      <h1>Products</h1>
      <button class="btnMenu onlyForAdmin" data-targetPage="pageAddProduct">Add Product</button>
      <ul id="productList">
      </ul>
    </div>

    <!-- CREATE PRODUCT -->
    <div class="page hide" id="pageAddProduct">
      <h1>Add Product</h1>
      <form id="frmAddProduct">
        <p>
          <label for="inputAddProductName">Name</label>
          <input type="text" id="inputAddProductName" name="productName">
        </p>
        <p>
          <label for="inputAddProductPrice">Price</label>
          <input type="text" id="inputAddProductPrice" name="productPrice">
        </p>
        <p>
          <label for="inputAddProductInventory">Inventory</label>
          <input type="number" id="inputAddProductInventory" name="productInventory">
        </p>
        <p>
          <label for="inputAddProductImg">Profile Picture</label>
          <input type="file" id="inputAddProductImg" name="productImg">
        </p>
        <button type="button" id="btnAddProduct">Submit</button>
      </form>
    </div>

    <!-- EDIT PRODUCT -->
    <div class="page hide" id="pageEditProduct">
      <h1>Edit Product</h1>
      <form id="frmEditProduct">
        <p>
          <label for="inputEditProductName">Name</label>
          <input type="text" id="inputEditProductName" name="productName">
        </p>
        <p>
          <label for="inputEditProductPrice">Price</label>
          <input type="text" id="inputEditProductPrice" name="productPrice">
        </p>
        <p>
          <label for="inputEditProductInventory">Inventory</label>
          <input type="number" id="inputEditProductInventory" name="productInventory">
        </p>
        <p>
          <label for="inputEditProductImg">Profile Picture</label>
          <input type="file" id="inputEditProductImg" name="productImg">
        </p>
        <button type="button" id="btnEditProductSubmit">Submit</button>
      </form>
    </div>
  </main>

  <script src="/js/app.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2_WeZyE4W91-mBA6ExRLpbD8L5pfyUfk&callback=setMapIsReady"></script>

</body>

</html>