<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WEBSHOP | EXAM</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:400,600" rel="stylesheet">
  <style>
    body {
      padding: 0;
      margin: 0;
      display: grid;
      min-height: 100vh;
      grid-template-rows: min-content;
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-size: 16px;
      background: #fafafa;
      color: #333;
    }

    h1 {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-weight: 400;
      letter-spacing: .2em;
      font-variant-ligatures: none;
      font-size: 3em;
      text-transform: uppercase;
      text-align: center;
    }

    main {
      grid-row-start: 2;
    }

    .page {
      height: 100%;
      padding: 10px 30px;
      max-width: 1200px;
      margin: 0 auto;
      background: #fff;
      box-sizing: border-box;
    }

    .hide {
      display: none;
    }

    nav {
      padding: 20px 10px;
      display: flex;
      justify-content: space-between;
      background: #b39ddb;
      border-top: 10px solid #836fa9;
      box-sizing: border-box;
    }

    nav button {
      padding: 1em;
      background: transparent;
      border-color: transparent;
    }

    nav button:hover,
    nav button:focus {
      color: #836fa9;
    }

    ul {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 15px;
    }

    dl {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }

    dt,
    label {
      font-weight: 600;
    }

    dd {
      margin: 0;
    }

    form {
      max-width: 500px;
      padding: 1em;
      margin: 0 auto;
      background: #e6ceff;
      padding: 15px;
      border-radius: 15px;
      box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
    }

    label {
      display: block;
      margin: .5em 0;
      font-size: .8em;
    }

    input {
      padding: .5em 1em;
      display: block;
      width: 100%;
      box-sizing: border-box;
      font-size: 1em;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

    button {
      cursor: pointer;
      background: #b39ddb;
      border: 3px solid #b39ddb;
      border-radius: 10px;
      font-size: .8em;
      text-transform: uppercase;
      letter-spacing: .1em;
      padding: .5em 1em;
      margin: .2em .5em;
      transition: background .3s;
    }

    button:hover,
    button:focus {
      background: transparent;
    }

    .userCard,
    .productCard {
      background: #e6ceff;
      padding: 15px;
      border-radius: 15px;
      box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
    }

    #map,
    #signupMap {
      background: grey;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      margin: 10px 0;
    }
  </style>
</head>

<body>

  <nav id="menu" class="hide">
    <span>
      <button class="btnMenu" data-targetPage="pageAllUsers">See all users</button>
      <button class="btnMenu" data-targetPage="pageAllProducts">See Products</button>
    </span>
    <span>
      <button class="btnMenu" data-targetPage="pageProfile">My Profile</button>
      <button id="btnLogout">Log out</button>
    </span>
  </nav>
  <main class="container">
    <!-- SIGNUP -->
    <div class="page hide" id="pageSignup">
      <h1>Signup</h1>
      <form id="frmSignup">
        <p>
          <label for="inputSignupName">First Name</label>
          <input type="text" id="inputSignupName" name="userName">
        </p>
        <p>
          <label for="inputSignupLastName">Last Name</label>
          <input type="text" id="inputSignupLastName" name="userLastName">
        </p>
        <p>
          <label for="inputSignupPassword">Password</label>
          <input type="text" id="inputSignupPassword" name="userPassword">
        </p>
        <p>
          <label for="inputSignupEmail">Email</label>
          <input type="text" id="inputSignupEmail" name="userEmail">
        </p>
        <p>
          <label for="inputSignupPhone">Phone number</label>
          <input type="text" id="inputSignupPhone" name="userPhone">
        </p>
        <p>
          <label for="inputSignupImg">Profile Picture</label>
          <input type="file" id="inputSignupImg" name="userImg">
        </p>
        <div id="signupMap">
          Fetching your position...
        </div>
        <button type="button" id="btnSignupSubmit">Submit</button>
      </form>

    </div>
    <!-- LOGIN -->
    <div class="page" id="pageLogin">
      <h1>Login</h1>
      <form id="frmLogin">
        <p>
          <label for="inputLoginEmail">E-mail</label>
          <input type="text" id="inputLoginEmail" name="userEmail">
        </p>
        <p>
          <label for="inputLoginPassword">Password</label>
          <input type="text" id="inputLoginPassword" name="userPassword">
        </p>
        <button type="button" id="btnLoginSubmit">Login</button>
        <button type="button" class="btnMenu" data-targetPage="pageSignup">Create user</button>
      </form>
    </div>
    <!-- SHOW ALL USERS -->
    <div class="page hide" id="pageAllUsers">
      <h1>Users</h1>
      <button class="btnMenu onlyForAdmin" data-targetPage="pageSignup">Add User</button>
      <ul id="userList">
      </ul>
    </div>
    <!-- PROFILE -->
    <div class="page hide" id="pageProfile">
      <h1>My Profile</h1>
      <ul id="userProfile">
      </ul>
    </div>
    <!-- EDIT USER -->
    <div class="page hide" id="pageEditUser">
      <h1>Edit user</h1>
      <form id="frmEditUser">
        <p>
          <label for="inputEditUserName">First Name</label>
          <input type="text" id="inputEditUserName" name="userName">
        </p>
        <p>
          <label for="inputEditUserLastName">Last Name</label>
          <input type="text" id="inputEditUserLastName" name="userLastName">
        </p>
        <p>
          <label for="inputEditUserPassword">Password</label>
          <input type="text" id="inputEditUserPassword" name="userPassword">
        </p>
        <p>
          <label for="inputEditUserEmail">Email</label>
          <input type="text" id="inputEditUserEmail" name="userEmail">
        </p>
        <p>
          <label for="inputEditUserPhone">Phone number</label>
          <input type="text" id="inputEditUserPhone" name="userPhone">
        </p>
        <p>
          <label for="inputEditUserImg">Profile Picture</label>
          <input type="file" id="inputEditUserImg" name="userImg">
        </p>
        <p class="onlyForAdmin">
          <label for="inputEditUserIsAdmin">User is admin:</label>
          <input type="checkbox" id="inputEditUserIsAdmin" name="userIsAdmin">
        </p>
        <div id="map">
          Fetching map...
        </div>
        <button type="button" id="btnEditUserSubmit">Submit</button>
      </form>
    </div>

    <!-- SHOW ALL PRODUCTS -->
    <div class="page hide" id="pageAllProducts">
      <h1>Products</h1>
      <button class="btnMenu onlyForAdmin" data-targetPage="pageAddProduct">Add Product</button>
      <ul id="productList">
      </ul>
    </div>

    <!-- CREATE PRODUCT -->
    <div class="page hide" id="pageAddProduct">
      <h1>Add Product</h1>
      <form id="frmAddProduct">
        <p>
          <label for="inputAddProductName">Name</label>
          <input type="text" id="inputAddProductName" name="productName">
        </p>
        <p>
          <label for="inputAddProductPrice">Price</label>
          <input type="text" id="inputAddProductPrice" name="productPrice">
        </p>
        <p>
          <label for="inputAddProductInventory">Inventory</label>
          <input type="number" id="inputAddProductInventory" name="productInventory">
        </p>
        <p>
          <label for="inputAddProductImg">Profile Picture</label>
          <input type="file" id="inputAddProductImg" name="productImg">
        </p>
        <button type="button" id="btnAddProduct">Submit</button>
      </form>
    </div>

    <!-- EDIT PRODUCT -->
    <div class="page hide" id="pageEditProduct">
      <h1>Edit Product</h1>
      <form id="frmEditProduct">
        <p>
          <label for="inputEditProductName">Name</label>
          <input type="text" id="inputEditProductName" name="productName">
        </p>
        <p>
          <label for="inputEditProductPrice">Price</label>
          <input type="text" id="inputEditProductPrice" name="productPrice">
        </p>
        <p>
          <label for="inputEditProductInventory">Inventory</label>
          <input type="number" id="inputEditProductInventory" name="productInventory">
        </p>
        <p>
          <label for="inputEditProductImg">Profile Picture</label>
          <input type="file" id="inputEditProductImg" name="productImg">
        </p>
        <button type="button" id="btnEditProductSubmit">Submit</button>
      </form>
    </div>
  </main>

  <script>
    var sUserIdToEdit = '',
      sProductIdToEdit = '',
      bMapIsReady = false;
    var jCurrentUser = {},
      jUserPosition = {};

    // (function checkForSession() {
    //   doAjax('GET', 'api-check-session.php', function (response) {
    //     var jResponse = JSON.parse(response);
    //     if (jResponse.status == 'success') {
    //       jCurrentUser.id = jResponse.id;
    //       jCurrentUser.isAdmin = jResponse.isAdmin;
    //       menu.classList.remove('hide');
    //       showCurrentUserInfo();
    //       showAndHideAdminButtons();
    //       showPage('pageProfile');
    //     } else if (jResponse.status == 'noUsers') {
    //       showPage('pageSignup');
    //     } else {
    //       showPage('pageLogin');
    //     }
    //   });
    // })();

    function loginUser() {
      var jFrm = new FormData(frmLogin);
      doAjax('POST', 'api-login-user.php', function (response) {
        var jResponse = JSON.parse(response);
        // console.log(jResponse); //TODO: FRONTEND ERROR HANDLING
        if (jResponse.status == 'success') {
          jCurrentUser.id = jResponse.id;
          jCurrentUser.isAdmin = jResponse.isAdmin;
          menu.classList.remove('hide');
          showCurrentUserInfo();
          showAndHideAdminButtons();
          showPage('pageProfile');
        }
      }, jFrm);
    }

    function logoutUser() {
      doAjax('GET', 'api-destroy-session.php', function (response) {
        var jResponse = JSON.parse(response);
        if (jResponse.status == 'success') {
          menu.classList.add('hide');
          showPage('pageLogin');
        }
      });
    }

    function showAndHideAdminButtons() {
      var adminOnlyElem = document.querySelectorAll('.onlyForAdmin');
      for (var i = 0; i < adminOnlyElem.length; i++) {
        if (jCurrentUser.isAdmin) {
          adminOnlyElem[i].classList.remove('hide');
        } else {
          adminOnlyElem[i].classList.add('hide');
        }
      }

    }

    // CRUD USERS
    function createUser() {
      var jFrm = new FormData(frmSignup);
      var sjUserPosition = JSON.stringify(jUserPosition);
      jFrm.append('userPosition', sjUserPosition);
      doAjax('POST', 'api-create-user.php', function (response) {
        var jResponse = JSON.parse(response);
        if (jResponse.status == 'success') {
          console.log('user created');
          menu.classList.remove('hide');
          showCurrentUserInfo();
          showPage('pageProfile');
        } else {
          console.log('error');
        }
      }, jFrm);
    }

    function deleteUser(id) {
      doAjax('GET', 'api-delete-user.php?id=' + id, function (response) {
        console.log(response);
      });
    }

    function showUsers() {
      doAjax('GET', 'api-show-users.php', function (response) {
        var ajUsers = JSON.parse(response);
        var sUserList = '';

        for (var i = 0; i < ajUsers.length; i++) {
          var sId = ajUsers[i].id;
          var sFullName = ajUsers[i].name + ' ' + ajUsers[i].lastName;
          var sPhone = ajUsers[i].phone;
          var sEmail = ajUsers[i].email;
          var sImgSrc = ajUsers[i].img;
          var sImgElem = sImgSrc ? '<img src="' + sImgSrc + '" alt="' + sFullName + 's profile picture">' : '';
          var sAdminBtn = jCurrentUser.isAdmin ? '<button class="btnDeleteUser">delete</button><button class="btnEditUser">edit</button>' : '';
          sUserList += '<li class="userCard" data-userid="' + sId + '">\
                      '+ sImgElem + '\
                      <dl>\
                        <dt>Name</dt>\
                        <dd>'+ sFullName + '</dd>\
                        <dt>E-mail</dt>\
                        <dd>'+ sEmail + '</dd>\
                        <dt>Phone</dt>\
                        <dd>'+ sPhone + '</dd>\
                      </dl>\
                      '+ sAdminBtn + '\
                    </li>';
        }
        userList.innerHTML = sUserList;
      });
    };

    function showUserInfoToEdit(id) {
      doAjax('POST', 'api-get-userinfo.php?id=' + id, function (response) { // SHOULD BE GET REQUEST
        var jUser = JSON.parse(response);
        inputEditUserName.value = jUser.name;
        inputEditUserLastName.value = jUser.lastName;
        inputEditUserPassword.value = jUser.password;
        inputEditUserEmail.value = jUser.email;
        inputEditUserPhone.value = jUser.phone;

        sUserIdToEdit = jUser.id;

        var jThisUserPosition = JSON.parse(jUser.position);
        var userMap = document.getElementById('map');

        initMap(jThisUserPosition, userMap);

        if (jCurrentUser.isAdmin && jUser.isAdmin) {
          inputEditUserIsAdmin.checked = true;
        } else {
          inputEditUserIsAdmin.checked = false;
        }
      });
    }

    function showCurrentUserInfo() {
      var sUserId = jCurrentUser.id;
      doAjax('GET', 'api-get-userinfo.php?id=' + sUserId, function (response) {
        var jUser = JSON.parse(response);
        var sId = jUser.id;
        var sFullName = jUser.name + ' ' + jUser.lastName;
        var sPhone = jUser.phone;
        var sEmail = jUser.email;
        var sImgSrc = jUser.img;
        var sImgElem = sImgSrc ? '<img src="' + sImgSrc + '" alt="' + sFullName + 's profile picture">' : '';
        var sUserList = '<li class="userCard" data-userid="' + sId + '">\
                    '+ sImgElem + '\
                    <dl>\
                      <dt>Name</dt>\
                      <dd>'+ sFullName + '</dd>\
                      <dt>E-mail</dt>\
                      <dd>'+ sEmail + '</dd>\
                      <dt>Phone</dt>\
                      <dd>'+ sPhone + '</dd>\
                    </dl>\
                    <button class="btnDeleteUser">delete</button>\
                    <button class="btnEditUser">edit</button>\
                    <button id="btnSubscribe">subscribe to the newsletter</button>\
                  </li>';
        userProfile.innerHTML = sUserList;
      });
    }

    function editUser() {
      var jFrm = new FormData(frmEditUser);
      jFrm.append('id', sUserIdToEdit);
      doAjax('POST', 'api-edit-user.php', function (response) {
        console.log(response); //TODO: FRONTEND ERROR HANDLING
        showUsers();
        showPage('pageAllUsers');
      }, jFrm);

    }

    function subscribeNewsletter() {
      doAjax('GET', 'api-subscribe-newsletter.php?id=' + jCurrentUser.id, function (response) {
        console.log(response);
      });
    }

    // PRODUCTS CRUD
    function showProducts() {
      doAjax('GET', 'api-show-products.php', function (response) {
        var ajProducts = JSON.parse(response);
        var sProductList = '';
        for (var i = 0; i < ajProducts.length; i++) {
          var sId = ajProducts[i].id;
          var sName = ajProducts[i].name;
          var sPrice = ajProducts[i].price;
          var sInventory = ajProducts[i].inventory;
          var sImgSrc = ajProducts[i].img;
          var sImgElem = sImgSrc ? '<img src="' + sImgSrc + '" alt="' + sName + '">' : '';
          var sAdminBtn = jCurrentUser.isAdmin ? '<button class="btnDeleteProduct">delete</button><button class="btnEditProduct">edit</button>' : '';
          sProductList += '<li class="productCard" data-productid="' + sId + '">\
                        '+ sImgElem + '\
                        <dl>\
                          <dt>Name</dt>\
                          <dd>'+ sName + '</dd>\
                          <dt>Price</dt>\
                          <dd>'+ sPrice + '</dd>\
                          <dt>Available</dt>\
                          <dd id="inventoryCounter-'+ sId + '">' + sInventory + '</dd>\
                        </dl>\
                        <button class="btnBuyProduct">buy</button>\
                        '+ sAdminBtn + '\
                      </li>';
        }
        productList.innerHTML = sProductList;
      });
    };

    function createProduct() {
      var jFrm = new FormData(frmAddProduct);
      doAjax('POST', 'api-create-product.php', function (response) {
        var jResponse = JSON.parse(response);
        if (jResponse.status == 'success') {
          showProducts();
          showPage('pageAllProducts');
        } else {
          console.log('error');
        }
      }, jFrm);
    }

    function deleteProduct(id) {
      doAjax('GET', 'api-delete-product.php?id=' + id, function (response) {
        console.log(response);
      });
    }

    function showProductInfoToEdit(id) {
      doAjax('GET', 'api-get-productinfo.php?id=' + id, function (response) {
        var jProduct = JSON.parse(response);
        inputEditProductName.value = jProduct.name;
        inputEditProductPrice.value = jProduct.price;
        inputEditProductInventory.value = jProduct.inventory;

        sProductIdToEdit = jProduct.id;
      });
    }

    function editProduct() {
      var jFrm = new FormData(frmEditProduct);
      jFrm.append('id', sProductIdToEdit);
      doAjax('POST', 'api-edit-product.php', function (response) {
        var jResponse = JSON.parse(response);
        if (jResponse.status == 'success') {
          console.log('success');
          showProducts();
          showPage('pageAllProducts');
        }
      }, jFrm);
    }

    // BUY PRODUCT
    function buyProduct(id) {
      doAjax('GET', 'api-buy-product.php?id=' + id, function (response) {
        var jResponse = JSON.parse(response);
        var jNotifOptions = {
          'title': 'Oops!',
          'message': 'We couldn\'t process your purchase at this time'
        };
        if (jResponse.status == 'success') {
          // Write notifications message and properties
          var sMessage = 'You bought a ' + jResponse.productName;
          jNotifOptions = {
            'title': 'Congratulations',
            'message': sMessage,
            'sound': 'sound_cash.mp3',
            'icon': 'img/icons/icon_dollar.png'
          };
          // change inventory counter
          var sIdSelector = 'inventoryCounter-' + id;
          var inventoryCounter = document.getElementById(sIdSelector);
          inventoryCounter.innerHTML = jResponse.newInventory;

        } else if (jResponse.status == 'noProducts') {
          var sMessage = 'We ran out of ' + jResponse.productName;
          jNotifOptions = {
            'title': 'Oh no!',
            'message': sMessage,
            'sound': 'sound_trombone.mp3',
            'icon': 'img/icons/icon_sad.png'
          };
        } else {

        }
        notifyMe(jNotifOptions);

      });
    }

    // Click events
    document.addEventListener('click', function (e) {
      if (e.target.id == 'btnSignupSubmit') {
        createUser();
      }
      else if (e.target.id == 'btnLoginSubmit') {
        loginUser();
      }
      else if (e.target.classList.contains('btnDeleteUser')) {
        var sUserId = e.target.parentNode.dataset.userid;
        deleteUser(sUserId);
        e.target.parentNode.remove();
      }
      else if (e.target.classList.contains('btnEditUser')) {
        var sUserId = e.target.parentNode.dataset.userid;
        showUserInfoToEdit(sUserId);
        showPage('pageEditUser');
      }
      else if (e.target.id == 'btnEditUserSubmit') {
        editUser();
      }
      else if (e.target.id == 'btnLogout') {
        logoutUser();
      }
      else if (e.target.id == 'btnAddProduct') {
        createProduct();
      }
      else if (e.target.classList.contains('btnDeleteProduct')) {
        var sProductId = e.target.parentNode.dataset.productid;
        deleteProduct(sProductId);
        e.target.parentNode.remove();
      }
      else if (e.target.classList.contains('btnEditProduct')) {
        var sProductId = e.target.parentNode.dataset.productid;
        showProductInfoToEdit(sProductId);
        showPage('pageEditProduct');
      }
      else if (e.target.classList.contains('btnBuyProduct')) {
        var sProductId = e.target.parentNode.dataset.productid;
        buyProduct(sProductId);
      }
      else if (e.target.id == 'btnEditProductSubmit') {
        editProduct();
      }
      else if (e.target.id == 'btnSubscribe') {
        subscribeNewsletter();
      }
      // Navigation
      else if (e.target.classList.contains('btnMenu')) {
        var pageToShow = e.target.dataset.targetpage;
        showPage(pageToShow);

        if (pageToShow == 'pageAllUsers') {
          showUsers();
        } else if (pageToShow == 'pageAllProducts') {
          showProducts();
        } else if (pageToShow == 'pageProfile') {
          showCurrentUserInfo();
        } else if (pageToShow == 'pageSignup') {
          getUserPosition(function () {
            var signupMap = document.getElementById('signupMap');
            initMap(jUserPosition, signupMap);
          });
        }
      }
    });

    // AJAX FUNCTION
    function doAjax(method, api, callback, formData) {
      var ajax = new XMLHttpRequest();

      ajax.onreadystatechange = function () {
        if (ajax.readyState == 4 && ajax.status == 200) {
          var response = this.responseText;
          callback(response);
        }
      }
      ajax.open(method, 'api/' + api, true);
      if (method == 'POST' && formData) {
        ajax.send(formData);
      } else {
        ajax.send();
      }
    }

    // SHOW NOTIFICATION
    function displayNotification(jOptions) {
      var oSound = new Audio(jOptions.sound);
      oSound.play();
      var notification = new Notification(jOptions.title, {
        'body': jOptions.message,
        'icon': jOptions.icon
      });
    }

    function notifyMe(jOptions) {
      if (Notification.permission === "granted") {
        displayNotification(jOptions);
      }

      else if (Notification.permission !== "denied") {
        Notification.requestPermission(function (permission) {
          if (permission === "granted") {
            displayNotification(jOptions)
          }
        });
      }
    }

    function showPage(pageId) {
      var aPages = document.querySelectorAll('.page');
      for (var i = 0; i < aPages.length; i++) {
        aPages[i].classList.add('hide');
      }
      var pageToShow = document.getElementById(pageId);
      pageToShow.classList.remove('hide');
    }

    function setMapIsReady() {
      bMapIsReady = true;
    }



    // var jMarkerPos = {};

    function getUserPosition(callback) {
      console.time('get Location');
      var geoLocation = navigator.geolocation.getCurrentPosition(function (response) {
        // console.log(response.coords.latitude);
        jUserPosition = {
          'lat': response.coords.latitude,
          'lng': response.coords.longitude
        };
        callback();
      });

    }


    //GOOGLE MAP
    function initMap(jCenter, divMap) {
      if (bMapIsReady) {

        var map = new google.maps.Map(divMap, {
          zoom: 16,
          center: jCenter
        });

        var marker = new google.maps.Marker({
          map: map,
          position: jCenter
        });

      } else {
        console.log('Google Maps is not ready');
      }

    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2_WeZyE4W91-mBA6ExRLpbD8L5pfyUfk&callback=setMapIsReady"></script>

</body>

</html>