html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 1fr;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #fafafa;
  color: #333;
}

h1 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-variant-ligatures: none;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}

main {
  grid-row-start: 2;
}

.page {
  height: 100%;
  padding: 10px 30px;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
}

.hide {
  display: none;
}

nav {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  background: #b39ddb;
  border-top: 10px solid #836fa9;
  box-sizing: border-box;
}
nav button {
  padding: 1em;
  background: transparent;
  border-color: transparent;
}

nav button:hover,
nav button:focus {
  color: #836fa9;
}

#userList,
#productList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

dt,
label {
  font-weight: 600;
}

dd {
  margin: 0;
}

form {
  max-width: 500px;
  padding: 1em;
  margin: 0 auto;
  background: #e6ceff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin: 0.5em 0;
  font-size: 0.8em;
}

input {
  padding: 0.5em 1em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background: #b39ddb;
  border: 3px solid #b39ddb;
  border-radius: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  transition: background 0.3s;
}

button:hover,
button:focus {
  background: transparent;
}

.userCard,
.productCard {
  background: #e6ceff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.profileGrid {
  display: grid;
  grid-template-columns: 300px 2fr;
}

#userOrders {
  padding: 0 20px;
}

#orderList {
  line-height: 2;
}

#map,
#signupMap {
  background: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 10px 0;
}

.loader {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpath%20fill%3D%22%23b39ddb%22%20d%3D%22M73%2050c0-12.7-10.3-23-23-23S27%2037.3%2027%2050m3.9%200c0-10.5%208.5-19.1%2019.1-19.1S69.1%2039.5%2069.1%2050%22/%3E%3C/svg%3E);
  background-size: cover;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  animation: 1s linear spinLoader;
  animation-iteration-count: infinite;
}

@keyframes spinLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
